// header-nav.module.scss

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  
  @media (max-width: 767px) {
    padding: 0 12px;
  }
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 16px;
  
  @media (max-width: 767px) {
    gap: 8px;
  }
}

.headerCenter {
  flex: 1;
  display: flex;
  justify-content: left;
  
  @media (max-width: 999px) {
    justify-content: flex-start;
    margin-left: 16px;
  }
  
  @media (max-width: 767px) {
    margin-left: 8px;
  }
}

.headerRight {
  display: flex;
  align-items: center;
}
