.authorLink {
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 4px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  /* 深色模式样式 */
  :global(.dark-theme) & {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
