.promoBannerCard {
  margin-bottom: 24px;
  overflow: hidden;
}

.carousel {
  margin: -16px -16px;
  /* 抵消内边距 */
}

.bannerLink {
  display: block;
  position: relative;
  text-decoration: none;
}

.bannerContainer {
  position: relative;
  width: 100%;
}

.bannerImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.bannerTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 16px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.dots {
  bottom: 8px !important;
}

.dots li {}

.dots li button {
  opacity: 0.5;
}

.dots li.slick-active button {
  opacity: 1;
}