.profileTabCard {
  width: 100%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  padding: 48px 0;
}

.emptyState {
  margin: 40px 0;
}

.tabTitle {
  margin-bottom: 24px;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
