.sidebarMenuContainer {
  display: flex;
  flex-direction: column;
}

.sidebarMenuTitle {
  padding: 16px 16px 0;
}

.sidebarMenuSpace {
  width: 100%;
  margin-top: 8px;
}

.sidebarMenuCard {
  width: 100%;
}
