.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 1280px;

  .sidebar {
    grid-column: span 3;
    position: sticky;
    top: 88px;
    height: fit-content;
  }

  .mobileMenu {
    grid-column: span 12;
    position: sticky;
    top: 64px;
    z-index: 10;
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 1.5rem;

  @media screen and (max-width: 768px) {
    column-gap: 0;
  }
}

.mainContent {
  grid-column: span 12;

  @media (min-width: 768px) {
    grid-column: span 9;
  }
}