// 详情页布局样式

div {
  .layout {
    min-height: calc(100vh - 64px);

    .container {
      max-width: 1280px;
      margin: 0 auto;
      padding: 24px;

      &.fullWidth {
        max-width: 100%;
      }

      // 移动端样式
      @media (max-width: 768px) {
        padding: 0px;
      }
    }

    .content {
      display: grid;
      grid-template-columns: 9fr 3fr;
      gap: 24px;

      // 移动端样式
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    .main {
      // 主内容区样式
    }

    .sidebar {
      // 侧边栏样式
    }

    .mobileSidebar {
      margin-top: 24px;
    }
  }


}