.container {
  margin: 0 auto;
  padding: 24px 12px;
  max-width: 1280px;

  @media (max-width: 768px) {
    padding: 12px 0px;
  }
}

.layout {
  display: grid;
  gap: 24px;
}

.main {
  min-height: 100vh;
}

.sidebar {
  position: sticky;
  max-width: 320px;
  bottom: 0%;
  width: 100%;
  height: fit-content;
}

.mobileSidebar {
  margin-top: 24px;
}